header {
    background: rgb(252, 153, 118);
}
/* переменные со значениями */
:root{
    --link-color: #1B365D;
    --border-btn: #A7BBC9;
    --black: #434140;
    --white: #FFFFFF;
    --article-bg: #F1C0C7;
}

/* звернення до всіх тегів за універсальним селектором */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
.container{
    width: 1440px;
    margin: 0 auto;
}

/* стили Header */
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 3px;
    padding-left: 68px;
    padding-right: 104px;
    background-color: var(--white);
}
.nav {
    display: flex;
}
.navList {
    display: flex;
    margin-right: 100px;
}
.navList>li:not(:last-child) {
    margin-right: 48px;
}
.navList a {
    color: var(--link-color);
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.31;
}
    
.navBtn {
    padding: 6px 24px 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--border-btn);
    border-radius: 4px;
    
    font-size: 11px;
    line-height: 1.546;
    color: var(--link-color);
    text-transform: capitalize;
}

/* стили Hero */
.hero {
    background-image: url('../images/hero-back.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 195px;
    margin-bottom: 36px;
}

.hero .container {
    padding-bottom: 189px;
    position: relative;
    padding-left: 88px;
}

.hero-title {
    font-size: 56px;
    line-height: 1.1;
    font-weight: 700;
    color: var(--link-color);
    margin-bottom: 17px;
}

.hero-desc {
    font-size: 18px;
    line-height: 1.33;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 40px;
}

.btnWrapper{
    margin-bottom: 125px;
}

.btnWrapper button:first-child {
    margin-right: 27px;
}

.btnWrapper button {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    padding: 13px 36px;
    border: 1px solid transparent;
    border-radius: 24px;
    color: var(--link-color);
    background-color: transparent;
}

.btnWrapper button:hover {
    border: 1px solid var(--white);
    background-color: var(--white);
    transition: all 0.5s;
    cursor: pointer;
}

.article {
    display: flex;
    background-color: var(--article-bg);
    padding-left: 88px;
    padding-bottom: 16px;
    padding-top: 16px;
    width: 499px;
    position: absolute;
    bottom: -14px;
    left: 0;
    align-items: center;
}

.article-content {
    margin-left: 16px;
}

.article-content h3 {
    font-size: 15px;
    line-height: 1.4;
    font-weight: 700;
    color: var(--link-color);
}

.article-content p {
    font-size: 14px;
    line-height: 1.43;
    color: var(--link-color);
}

.sea-icons {
    display: flex;
}

.sea {
    margin: 26px;
    height: 592px;
    width: 307px;
}

.one {
    margin-left: 250px;
}