header {
    background: rgb(252, 153, 118);
}
/* переменные со значениями */
:root{
    --link-color: #1B365D;
    --border-btn: #A7BBC9;
    --light-grey: #AEABA8;
    --light-black: #615E5C;
    --black: #434140;
    --white: #FFFFFF;
    --article-bg: #F1C0C7;
    --blue: #1990FF;
    --green: #25D366;
    --ocean: #ADD4E0;
    --dark-blue: #1877F2;
}

/* звернення до всіх тегів за універсальним селектором */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, button, a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}
ul{
    list-style: none;
}
button {
    color: inherit;
}
a{
    color: inherit;
    text-decoration: none;
}
.container{
    width: 1440px;
    margin: 0 auto;
}

.more {
    background: transparent;
    border: none;
}

/* стили Header */
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 3px;
    padding-left: 68px;
    padding-right: 104px;
    background-color: var(--white);
}
.nav {
    display: flex;
}
.navList {
    display: flex;
    margin-right: 100px;
}
.navList>li:not(:last-child) {
    margin-right: 48px;
}
.navList a {
    color: var(--link-color);
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.31;
}
    
.navBtn {
    padding: 6px 24px 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--border-btn);
    border-radius: 4px;
    
    font-size: 11px;
    line-height: 1.546;
    color: var(--link-color);
    text-transform: capitalize;
}

/* стили Hero */
.hero {
    background-image: url('../images/hero-back.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 195px;
    margin-bottom: 36px;
}

.hero .container {
    padding-bottom: 189px;
    position: relative;
    padding-left: 88px;
}

.hero-title {
    font-size: 56px;
    line-height: 1.1;
    font-weight: 700;
    color: var(--link-color);
    margin-bottom: 17px;
}

.hero-desc {
    font-size: 18px;
    line-height: 1.33;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 40px;
}

.btnWrapper{
    margin-bottom: 125px;
}

.btnWrapper button:first-child {
    margin-right: 27px;
}

.btnWrapper button {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    padding: 13px 36px;
    border: 1px solid transparent;
    border-radius: 24px;
    color: var(--link-color);
}

.btnWrapper button:hover {
    border: 1px solid var(--white);
    background-color: var(--white);
    transition: all 0.5s;
    cursor: pointer;
}

.article {
    display: flex;
    padding-bottom: 16px;
    padding-top: 16px;
    width: 499px;
    align-items: center;
}
.hero .article {
    background-color: var(--article-bg);
    padding-left: 88px;
    position: absolute;
    bottom: -14px;
    left: 0;
}

.article-content {
    margin-left: 16px;
}

.article-content h3 {
    font-size: 15px;
    line-height: 1.4;
    font-weight: 700;
    color: var(--link-color);
}

.article-content p {
    font-size: 14px;
    line-height: 1.43;
    color: var(--link-color);
}

.sea-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 77px;
    padding-bottom: 31px;
}

.sea-icons li {
    width: 304px;
    height: 587px;
    position: relative;
}

.sea-icons li .imgWrapper {
    width: 100%;
    height: 100%;
}

.contentWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-left: 51px;
    padding-right: 50px;
    padding-bottom: 32px;
    color: var(--white);
}

.contentWrapper h3 {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 700;
}

.contentWrapper p {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 500;
}

.contentWrapper button {
    font-size: 14px;
    line-height: 1.43;
    font-weight: 700;
    color: var(--white);
}

.frame {
    padding-bottom: 48px;
    background: linear-gradient(0deg, rgba(208,232,234,1) 50%, rgba(255,255,255,1) 50%);
}

.frame .container {
    display: flex;
    flex-flow: column;
}

.frame h2 {
    font-size: 50px;
    line-height: 1.1;
    font-weight: 700;
    color: var(--link-color);
}

.frame .imgWrapper {
    height: 632px;
    margin-top: 35px;
    margin-bottom: 32px;
}

.frame-list {
    display: flex;
    padding-left: 90px;
}

.frame-list li {
    width: 360px;
}

.frame-list li:first-child {
    margin-right: 156px;
}

.frame-list li h3 {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 700;
    color: var(--link-color);
}

.frame-list li p {
    font-size: 17px;
    line-height: 1.35;
    color: var(--black);
    margin-top: 11px;
    margin-bottom: 15px;
}

.frame-list li button {
    font-size: 14px;
    line-height: 1.43;
    color: var(--link-color);
}

.video-maker {
    padding-top: 16px;
}

.video-maker .container {
    display: flex;
}

.video-maker .imgWrapper {
    width: 632px;
    height: 632px;
}

.section-content ul {
    display: flex;
}

.section-content li {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.section-content li:nth-child(1) {
    margin-right: 16px;
    background: var(--blue);
}

.section-content li:nth-child(2) {
    background: var(--green);
}

.section-link {
    display: inline-block;
    line-height: 0;
}

.section-content h2 {
    font-size: 50px;
    line-height: 1.1;
    margin-top: 17px;
    margin-bottom: 19px;
    color: var(--link-color);
}

.section-content .desc {
    font-size: 17px;
    line-height: 1.35;
    margin-bottom: 16px;
    color: var(--light-black);
}

.section-content .more-desc {
    font-size: 11px;
    line-height: 1.63;
    color: var(--light-grey);
}

.article-img img {
    width: 1440px;
    height: 720px;
    top: -00.6;
    margin-left: 730px;
}
.container-h h2 {
    font-size: 50px;
    line-height: 1.1;
    height: 110px;
    margin-left: 830px;
    font-weight: 700;
}

.container-h h3 {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.35;
    margin-left: 830px;
    margin-top: 20px;
}


.button :nth-child(1) {
    width: 60px;
    height: 20px;
    margin-top: 23px;
    margin-left: 830px;
    border: 1px solid transparent;
}

.button :nth-child(2) {
    height: 23px;
    width: 315px;
    margin-left: 830px;
    width: 315px;
    height: 23px;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.35;
    border: 1px solid transparent;
}

.button :nth-child(3) {
    height: 23px;
    width: 315px;
    margin-left: 830px;
    width: 315px;
    height: 23px;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.35;
    border: 1px solid transparent;
    padding-bottom: 56px;
}

.story-section {
    background-color: rgba(255, 162, 129, 0.24);
    padding-bottom: 90px;

}

.story-section .container {
    padding-left: 88px;
    background: url(../images/story-icon.jpg);
    padding-top: 325px;
    padding-bottom: 58px;
}

.story-content {
    margin-bottom: 56px;
    position: relative;
}

.story-content::before {
    content: "";
    width: 4px;
    height: 100%;
    background-color: var(--light-grey);
    position: absolute;
    left: -24px;

}


.story-content h2 {
    font-size: 50px;
    line-height: 1.1;
    font-weight: 700;
    color: var(--white);
}

.story-content h3 {
    font-size: 17px;
    line-height: 1.353;
    color: var(--white);
    margin-top: 20px;
    margin-bottom: 24px;
}

.story-content button {
    font-size: 14px;
    line-height: 1.43;
    color: var(--white);
}

.story-buttons button {
    font-size: 17px;
    line-height: 1.353;
    font-weight: 700;
    color: var(--white);
    position: relative;
}

.story-buttons button:first-child {
    margin-bottom: 16px;
}

.story-buttons button::before {
    content: "";
    width: 4px;
    position: absolute;
    height: 100%;
    background-color: var(--light-grey);
    left: -24px;
}

.alexa .container {
    padding-left: 88px;
    padding-right: 88px;
}

.first-row {
    display: flex;
}

.alexa-content .imgWrapper {
    width: 60px;
    height: 60px;
}

.alexa-content h2 {
    font-size: 50px;
    line-height: 1.1;
    font-weight: 700;
    color: var(--link-color);
    margin-top: 13px;   
}

.alexa-content p {
    font-size: 17px;
    line-height: 1.353;
    color: var(--light-black);
    margin-top: 20px;  
    margin-bottom: 46px; 
}

.alexa-content button {
    font-size: 14px;
    line-height: 1.43;
    color: var(--link-color);
    margin-top: 20px;  
    margin-bottom: 46px; 
    background-color: var(--ocean);
    border-radius: 24px;
    padding: 13px 25px;
}

.alexa-desc {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.alexa-desc .imgWrapper {
    width: 840px;
    height: 504px;
}

.alexa-desc>p {
    margin-top: 3px;
    color: var(--light-grey);
}

.second-row {
    display: flex;
    margin-top: 56px;
}

.second-row li {
    width: 622px;
    height: 622px;
    padding-top: 32px;
    padding-left: 32px;
}

.second-row li:first-child {
    background-image: url(../images/block1.jpg);
    margin-right: 20px;
    color: var(--link-color);
}

.second-row li:last-child {
    background-image: url(../images/block2.jpg);
    color: var(--white);
}

.second-row li h3 {
    font-size: 30px;
    line-height: 1.13;
    font-weight: 700;
}

.second-row li p {
    font-size: 16px;
    line-height: 1.375;
    height: 66px;
    margin-top: 9px;
    margin-bottom: 15px;
}

.second-row li:first-child p {
    color: var(--black);
}

.second-row li button {
    font-size: 14px;
    line-height: 1.43;
    font-weight: 700;
}

.alexa-title {
    margin-top: 57px;
    color: var(--link-color);
    font-size: 50px;
    line-height: 1.1;
    font-weight: 700;
}

.alexa .article {
    margin-top: 27px;
    margin-bottom: 51px;
}

.products {
    display: flex;
    justify-content: space-between;
}

.products li {
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 1px solid red;
    padding: 32px 18px 24px;
    width: 304px;
    justify-content: space-between;

}

.product-price {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    font-size: 20px;
    line-height: 1.3;
    color: var(--link-color);
}


.products .imgWrapper {
    width: 193px;
    height: 220px;
}

.products li h4 {
    font-size: 15px;
    line-height: 1.33;
    color: var(--black);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 31px;
}

.products .toBuyBtn {
    background-color: var(--dark-blue);
    font-size: 14px;
    line-height: 1.43;
    padding: 13px 25px;
    color: var(--white);
    border: 1px solid var(--dark-blue);
    border-radius: 24px;
    margin-bottom: 24px;
}

.products .more {
    font-size: 14px;
    line-height: 1.43;
    color: var(--link-color);
}

